.App {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
  margin: 8px;
}

.review {
  border: solid;
  margin: 16px;
}

.singleReview {
  border: solid;
  margin: 16px;
}

ol {
  list-style-type: none;
  padding: 0px;
}

p {
  margin: 8px;
  padding: 0px;
}

h2 {
  margin: 8px;
}